/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* custom styles */
*, 
*::after,
*::before{
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

a{
    text-decoration: none;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex{
    display: inline-flex;
}

.justify-bt{
    justify-content: space-between;
}

.flex-dir-col{
    flex-direction: column;
}

.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 3rem;
    margin: 0 auto;
}

header{
    background-color: #000000;
    text-align: center;
    padding: 1rem 0;
}

header a h1{
    color: #fff;
    font-size: 1.5rem;
}

main{
    background-color: #f1deb8;
    padding: 1rem;
}

.border{
    border: 1px solid red;
}

.content{
    height: 60vh;
    overflow: auto;
    overflow-x: hidden;
    border: 1px solid black;
}

.add-item{
    width: 40%;
    border: 3px solid blue;
    border-radius: 4px;
    padding: 1rem 0;
    margin-top: 2rem;
}

.add-item input, button{
    display: block;
    margin: 0  0 1rem 0;
    width: 80%;
    padding: 0.3rem;
}

.add{
    background-color: #000000;
    border: 0;
    padding: 0.5rem;
    color: #fff;
}

.item-container{
    width: 25%;
    height: 80px;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 1rem 0.5rem;
    background-color: #ee6d52;
}

.cat{
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 0.8rem;
}

.item{
    font-size: 1.2rem;
    text-transform: capitalize;
}


